@import '@/styles/colors';

.container {
  position: relative;
  margin-bottom: 30px;

  .input {
    font-size: 18px;
    padding: 10px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid $medium-gray;
    background-color: $medium-gray;
    border-radius: 5px;
    color: #fff;
  }

  .input:focus {
    outline: none;
  }

  .label {
    color: $light-gray;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 10px;
    transition: 300ms ease all;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  .input:not(:placeholder-shown) ~ .label {
    top: -20px;
    left: 5px;
    font-size: 14px;
    color: #fff;
  }

  .input:focus ~ .label {
    top: -20px;
    left: 5px;
    font-size: 14px;
    color: #fff;
  }
}
